extends layout

block content

  image.imgComment(src="#{meme.url}")
  p.memeCommentd= comment.message

  form.form( name="add-message" method="post" action="/post" class="form")
    input(name="message" type="text")

  a(href="/" class="back") Back to meme nation