extends layout

block content

  image(src="#{meme.url}")
  div.comment
    each val in comment.message
    p= val

    form(name="add-message", method="post" action="/")

      div
      input(name="message" type="text")

      div
        input(type="hidden" name="memeID" value="#{meme.id}")
        input(type="submit" value="Share")
        input(type="reset", value="RESET")

        a(href="/") Back to MemesNation
